<!DOCTYPE html>
<html ng-app="iDecidedThis">
<head>
	<meta charset="utf-8">
        <title>Untitled</title>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>
		<script src="main.js"></script>
        
        
</head>
<body ng-controller="mainController">
	<p>{{greeting}}</p>
<h1>
<button ng-click="buttonClick()">This is my button</button>
</h1>
<p>{{unorderedList}}</p>
<button ng-click="buttonClick2()">This is my other button</button>

</body>
</html>